.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.well {
    padding: 10px;
    margin: 5px;
}

.btn-sm, .btn-group-sm > .btn {
    margin-bottom: 3px;
}

.scrolling {
    overflow: auto;
    margin-bottom: 0;
}

li:hover, li:focus {
    background-color: #dae4f2;
}

a {
    color: #4b58a6;
}
a:hover {
    color: #4b58a6;
}

canvas {
    -ms-touch-action: double-tap-zoom;
}
